<div class="chat-interface">
  {{{ chatSettings }}}
  <div class="lside">
    {{{ getProfile }}}
    {{{ searchChats }}}
    {{{ chats }}}
  </div>
  <div class="messaging">
    <div class="user-controls">
      {{{ curUser }}}
      {{{ chatManage }}}
    </div>
    <div class="messages">
      {{{ chatDate }}}
      {{{ inMsg }}}
      {{{ msgImg }}}
      {{{ outMsg }}}
    </div>
    <div class="messaging-controls">
      <div class="messaging-controls__attach">
        {{{ attachBtn }}}
      </div>
      <div class="messaging-controls__texting">
        {{{ texting }}}
      </div>
    </div>
  </div>
</div>
