<div class="chat-interface">
  <div class="lside">
    {{{ getProfile }}}
    {{{ searchChats }}}
    {{{ chats }}}
  </div>
  <div class="messaging">
    <div class="user-controls">
      {{{ curUser }}}
      {{{ chatManage }}}
    </div>
    <div class="messages">
      {{{ chatDate }}}
      {{{ inMessage }}}
      {{{ msgImg }}}
      {{{ outMessage }}}
    </div>
    <div class="messaging-controls">
      <div class="messaging-controls__attach">
        {{{ attachBtnPart }}}
      </div>
      <div class="messaging-controls__texting">
        {{{ textingForm }}}
      </div>
    </div>
  </div>
</div>
