<div class="user-input">
  <div class="user-input__wrapper">
    <label for="{{ name }}" class="user-input__lbl"> {{ label }}</label>
    <input type="text"  class="user-input__inpt" name="{{ name }}" id=" {{ name }}" value="{{ value }}" placeholder="{{ placeholder }}">
  </div>
  <div class="user-input__state">
  </div>
  <div class="user-input__error-wrapper">
    {{{ error }}}
  </div>
</div>
