<form class="sign-up-form">
  <p class="sign-up-form__title">Регистрация</p>
  <fieldset class="sign-up-form__inputs-fset">
    {{{ emailSignInput }}}
    {{{ loginSignInput }}}
    {{{ fnameSignInput }}}
    {{{ snameSignInput }}}
    {{{ dispnameSignInput }}}
    {{{ phoneSignInput }}}
    {{{ passwordSignInput }}}
    {{{ reppasswordSignInput }}}
  </fieldset>
  <fieldset class="sign-up-form__btn-fset">
    {{{ button }}}
    <a href="/sign-in" class="sign-up-form__enter-link">Войти</p>
  </fieldset>
</form>
