<div class="chats">
  <ul class="chats__list">
    {{{a}}}
    {{{b}}}
    {{{c}}}
    {{{d}}}
    {{{e}}}
    {{{f}}}
    {{{g}}}
    {{{h}}}
    {{{i}}}
    {{{j}}}
    {{{k}}}
    {{{l}}}
    {{{m}}}
    {{{n}}}
    {{{o}}}
  </ul>
</div>
