<form class="sign-up-form">
  <p class="sign-up-form__title">Регистрация</p>
  <fieldset class="sign-up-form__inputs-fset">
    <div class="sign-up-form__inpt-box">
      <label for="email" class="sign-up-form__lbl">Почта</label>
      <input type="text"  class="sign-up-form__inpt sign-up-form__inpt_{{email.inputState}}" name="email" id="email" value="" placeholder="{{ email.placeholder }}">
      <span class="sign-up-form__error sign-up-form__error_{{email.errBoxState}} sign-up-form__error_email">{{email.emailMsg}}</span>
    </div> <div class="sign-up-form__inpt-box">
      <label for="login" class="sign-up-form__lbl">Логин</label>
      <input type="text" class="sign-up-form__inpt sign-up-form__inpt_{{login.inputState}}" name="login" id="login" value="" placeholder="{{login.placeholder}}">
      <span class="sign-up-form__error sign-up-form__error_{{login.errBoxState}} sign-up-form__error_login">{{login.errMsg}}</span>
    </div>
    <div class="sign-up-form__inpt-box">
      <label for="first_name" class="sign-up-form__lbl">Имя</label>
      <input type="text"  class="sign-up-form__inpt sign-up-form__inpt_{{fname.inputState}}" name="first_name" id="first_name" value="" placeholder="{{fname.placeholder}}">
      <span class="sign-up-form__error sign-up-form__error_{{fname.errBoxState}} sign-up-form__error_fname">{{ fnameErr }}</span>
    </div>
    <div class="sign-up-form__inpt-box">
      <label for="second_name" class="sign-up-form__lbl">Фамилия</label>
      <input type="text"  class="sign-up-form__inpt sign-up-form__inpt_{{sname.inputState}}" name="second_name" id="second_name" value="" placeholder="{{sname.placeholder}}">
      <span class="sign-up-form__error sign-up-form__error_{{sname.errBoxState}} sign-up-form__error_sname">{{ snameErr }}</span>
    </div>
    <div class="sign-up-form__inpt-box">
      <label for="display_name" class="sign-up-form__lbl">Имя в чате</label>
      <input type="text" class="sign-up-form__inpt sign-up-form__inpt_{{displayName.inputState}}" name="display_name" id="display_name" value="" placeholder="{{displayName.placeholder}}">
      <span class="sign-up-form__error sign-up-form__error_{{displayName.errBoxState}} sign-up-form__error_nick">{{displayName.errMsg}}</span>
    </div>
    <div class="sign-up-form__inpt-box">
      <label for="phone" class="sign-up-form__lbl">Телефон</label>
      <input type="text" class="sign-up-form__inpt sign-up-form__inpt_{{phone.inputState}}" name="phone" id="phone" value="" placeholder="{{phone.placeholder}}">
      <span class="sign-up-form__error sign-up-form__error_{{phone.errBoxState}} sign-up-form__error_phone">{{phone.errMsg}}</span>
    </div>
    <div class="sign-up-form__inpt-box">
      <label for="phone" class="sign-up-form__lbl">Пароль</label>
      <input type="password"  class="sign-up-form__inpt sign-up-form__inpt_{{pass.inputState}} sign-up-form__inpt_pass" name="password" id="password" value="">
      <span class="sign-up-form__error sign-up-form__error_{{pass.errBoxState}} sign-up-form__error_pass">{{ pass.errMsg }}</span>
    </div>
    <div class="sign-up-form__inpt-box">
      <label for="phone" class="sign-up-form__lbl">Пароль (ещё раз)</label>
      <input type="password"  class="sign-up-form__inpt sign-up-form__inpt_{{repPass.inputState}} sign-up-form__inpt_rep-pass" name="repPassword" id="repPassword" value="">
      <span class="sign-up-form__error sign-up-form__error_{{repPass.errBoxState}} sign-up-form__error_rep-pass">{{repPass.errMsg}}</span>
    </div>
  </fieldset>
  <fieldset class="sign-up-form__btn-fset">
    <button class="sign-up-form__btn" type="submit">Зарегистрироваться</button>
    <a href="/sign-in" class="sign-up-form__enter-link">Войти</p>
  </fieldset>
</form>
