<div class="sign-input">
  <label for="{{ name }}" class="sign-input__lbl">{{ label }}</label>
  <input type="{{ type }}"  class="sign-input__input sign-input__input_default" name="{{ name }}" id="{{ name }}" value="{{ value }}" placeholder="{{ placeholder }}">
  <div class="sign-input__error-wrapper">
    {{{ error }}}
  </div>
</div>
