<div class="sign-input">
  <label for="{{ name }}" class="sign-input__lbl">{{ label }}</label>
  <input type="{{ type }}"  class="sign-input__input sign-input__input_default" name="{{ name }}" id="{{ name }}" value="{{ value }}" placeholder="{{ placeholder }}" data-evt-focusout="validateInput">
  <div class="sign-input__error-wrapper">
    <span class="sign-input-error">{{ errText }}</span>
  </div>
</div>
