<div class="user-settings-form">
  <form class="user-settings-form__form">
    <fieldset class="user-settings-form__inputs-fset">
      {{{ emailUserInput }}}
      {{{ loginUserInput }}}
      {{{ fnameUserInput }}}
      {{{ snameUserInput }}}
      {{{ dispnameUserInput }}}
      {{{ phoneUserInput }}}
    </fieldset>
    <fieldset class="user-settings-form__btn-fset">
      {{{ button }}}
    </fieldset>
  </form>
</div>
